* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    background-color: black;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    padding-block: 30px;
    background-color: black;
    color: #1DB954;
}
/* Style the top navigation bar */
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background-color: rgb(6, 136, 17);
    width: 90%;
    margin: auto;
    border-radius: 50px;


}
.heading-logo{
    color: black;
    font-size: 28px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul .lists{
    margin: 0px 5px;
    padding: 12px 28px;
    border-radius: 30px;
    box-shadow: inset 8px 8px 8px ;
}
.lists:nth-child(odd){
    box-shadow: 8px 8px 8px;
}
.links{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(6, 136, 17);
}

.heading{
    font-size: 66px;
    text-align: center;
    line-height: 90%;
}

.heading span{
    color: aliceblue;
}

.button {
    margin: 0px 5px;
    padding: 12px 28px;
    border-radius: 30px;
    box-shadow: inset 8px 8px 8px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.9s;
    cursor: pointer;
    background-color: rgb(10, 1, 1);  
    border: 2px solid rgb(0, 5, 1);
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(6, 136, 17);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
  }

  .button:hover, ul .lists:hover {
    background-color: rgb(6, 136, 17);
    color: rgb(2, 0, 0);
  }
h1 {
    padding-top: 35px;
}

main {
    display: flex;
    flex-wrap: wrap;
    color: #1DB954;
}

h2 {
    margin-inline: auto;
}

.card img {
    margin-inline: auto;
    margin-block: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}


.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: solid 2px #1DB954;
    margin: 20px;
    border-radius: 20px;
    padding: 5px;
    background-color: #191414;
    color: white;
    text-align: center;

}

.card p {
    margin-top: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1DB954;
    color: white;
    font-size: 15px;
}

.albumPage {
    display: flex;
}

.albumPage .card {
    margin-inline: auto;
    width: 300px;
    text-align: center;
}

.albumPage .card p {
    margin-top: 10px;
    height: 40px;
    margin: 10px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.albumPage .card img {
    margin-block: 20px;
    animation: rotating 9s linear infinite;
}

h3 {
    margin-inline: 10px;
}

